<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Display a map on a webpage</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=10,user-scalable=yes"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
      form {
        position: absolute;
        z-index: 5;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div id="map">
      <form
        id="submit-note-form"
        method="POST"
        action="{% url 'submit' %}"
        style="display: none"
      >
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">

        <label for="email">Email: </label>
        <input required type="text" id="email" name="email" /><br /><br />

        <label for="display_name">Name you'd like to post under: </label>
        <input required type="text" id="display_name" name="display_name" /><br /><br />

        <label for="fname">First name:</label>
        <input required type="text" id="fname" name="fname" /><br /><br />

        <label for="lname">Last name:</label>
        <input required type="text" id="lname" name="lname" /><br /><br />

        <label for="note">Note:</label>
        <input required type="text" id="note" name="note" /><br /><br />

        <label for="lat">Latitude:</label> 
        <input required id="lat" name="lat" value="0" />
        <label for="lon">Longitude:</label> 
        <input required id="lon" name="lon" value="0" />

        <input type="submit" value="Submit" />
      </form>
    </div>
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1IjoiamV0cGxhbmVqaiIsImEiOiJja3F2N2NkNXYwYm5tMnZtZmRoYWo2bTFkIn0.U-wRPuGZn0PixDOKKPxkLg";
      const map = new mapboxgl.Map({
        container: "map", // container ID
        style: "mapbox://styles/mapbox/streets-v11", // style URL
        center: [-15.5, 25.5], // starting position [lng, lat]
        zoom: 3, // starting zoom
      });

      const canvas = map.getCanvasContainer();
      const geojson = {
        type: "FeatureCollection",
        features: [
          {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [0, 0],
            },
          },
        ],
      };

      map.on("load", () => {
        var note_list = JSON.parse('{{latest_note_list|escapejs}}')
        for (let i = 0; i < note_list.length; i++) {
          fields = note_list[i].fields
          coord = [fields.lon, fields.lat]
          const otherNotesPopup = new mapboxgl.Popup({ 
            closeOnClick: false, 
            closeButton: false })
            .setLngLat(coord)
            .setHTML(fields.date + " --> " + fields.creator + " wrote: " + fields.body)
            .addTo(map);
        }

        map.addSource("geojson", {
          type: "geojson",
          data: geojson,
        });
        // map.addLayer({
        //   id: "note-point",
        //   type: "circle",
        //   source: "geojson",
        //   visibility: "none",
        //   filter: ["in", "$type", "Point"],
        // });

        map.on("click", (e) => {
          console.log(e);
          const point = {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [e.lngLat.lng, e.lngLat.lat],
            },
            properties: {
              id: String(new Date().getTime()),
            },
          };
          const newNotePopup = new mapboxgl.Popup({ closeOnClick: true })
            .setLngLat(point.geometry.coordinates)
            .setHTML("Create a Note here: ")
            .addTo(map);
          if (document.getElementsByClassName("mapboxgl-popup").length && newNotePopup[0]) {
            newNotePopup[0].remove();
          }
          
          form = document.getElementById("submit-note-form");
          console.log(form.style.display);
          form.style.display = "block";

          newNotePopup.on("close", (e) => {
            form.style.display = "none";
          });

          map.getSource("geojson").setData(geojson);

          document.getElementById("lat").value = e.lngLat.lat;
          document.getElementById("lon").value = e.lngLat.lng;
        });
      });
    </script>
  </body>
</html>
